/* Общие стили для кнопок */
.menu-button {
  display: inline-block; /* Кнопки отображаются как строчные элементы */
  padding: 5px 10px; /* Внутренние отступы кнопок */
  background-color: #007bff; /* Цвет фона кнопок */
  color: #fff; /* Цвет текста на кнопках */
  text-decoration: none; /* Убирает подчеркивание ссылок */
  border-radius: 20px; /* Скругление углов кнопок */
  margin-right: 5px; /* Горизонтальный отступ между кнопками */
  margin-bottom: 5px; /* Вертикальный отступ между кнопками */
  box-sizing: border-box; /* Добавлено для правильного отображения кнопок */
}

/* Стили кнопок при наведении мыши */
.menu-button:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
}

.logo {
  position: absolute;
  top: 10px; /* Расстояние от верхнего края страницы */
  left: 10px; /* Расстояние от левого края страницы */
}

.logo img {
  width: 200px; /* Ширина логотипа */
  height: 200px; /* Высота логотипа */
  border-radius: 50%; /* Круглый логотип */
}

/* Стили для desktop-версии */
@media (min-width: 751px) {
  /* Контейнер для кнопок */
  .buttons-container {
    display: flex; /* Отображение кнопок в виде гибкого контейнера */
    flex-direction: column; /* Расположение кнопок в вертикальном столбце */
    align-items: center; /* Центрирование кнопок по горизонтали */
    padding-top: 60px; /* Расстояние от верха */
  }

  .menu-button:nth-child(1), .menu-button:nth-child(2), .menu-button:nth-child(3) {
    font-size: 18px; /* Размер шрифта */
    padding: 10px 20px; /* Размер кнопки */
  }
}

/* Стили для mobile-версии */
@media (max-width: 750px) {
  .logo {
    display: none;
  }

  /* Контейнер для кнопок */
  .buttons-container {
    display: flex; /* Отображение кнопок в виде гибкого контейнера */
    flex-direction: column; /* Расположение кнопок в вертикальной колонке */
    align-items: center; /* Центрирование кнопок по горизонтали */
    padding-top: 70px; /* Увеличьте значение, чтобы кнопки расположились ниже */
  }

  /* Стили для отдельных кнопок */
  .menu-button {
    width: 100%; /* Каждая кнопка занимает всю ширину контейнера */
    margin-right: 0; /* Убирает горизонтальный отступ между кнопками */
  }
}